@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  /* border: 1px red solid; */
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

button,
.action-container {
  background-color: #3882f6;
  color: #ffffff;
}

.hero-img {
  width: 400px;
  height: auto;
}

.info-container img {
  width: 150px;
  height: auto;
}

header,
footer,
.hero {
  background-color: #1f2937;
  color: #ffffff;
}

header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.navbar li a,
.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.info-header,
.quote-text,
.quote-author,
.info-container p {
  color: #1f2937;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
}

.quote {
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
}

.info-container img {
  border: #3882f6 4px solid;
  border-radius: 8%;
}

header,
section,
footer {
  padding: 0 150px 0 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-left {
  width: 540px;
  height: auto;
}

.info {
  padding: 50px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.info-container {
  display: flex;
  gap: 40px;
}

.card {
  text-align: center;
  width: 160px;
}

.quote {
  display: flex;
  justify-content: center;
}

.quote-container {
  padding: 100px 0 100px 0;
  width: 75%;
}

.quote-text,
.quote-author {
  margin: 0;
}

.quote-author {
  width: 95%;
  text-align: right;
}

.action-container {
  padding: 36px 120px 36px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 100px 0 100px 0;
}

.action-left p {
  margin: 0;
}

.action-main-text {
  font-size: larger;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 35px 0;
}

button {
  font-size: medium;
  border-radius: 7px;
  padding: 7px 30px 7px 30px;
}

.hero-signup {
  margin-top: 10px;
  border: 1px #3882f6 solid;
}

.action-signup {
  border: 2px #ffffff solid;
}
